# Ignore all files bigger than 25 MB
*.*[25M]
# ignore pycache files
**/__pycache__/
**/*.py[cod]
# ignore environment files
.env
.venv
env/
venv/
ENV/
# ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints